<div class="grid grid-cols-5 max-h-screen bg-gray-100">
  <app-admin-sidebar></app-admin-sidebar>
  <div class="col-span-4 min-h-screen overflow-y-auto px-4">
    <div class="my-5"></div>
    <div class="flex justify-between items-center p-4">
      <h4 class="text-gray-500 text-lg">Promotions</h4>
     
    </div>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-5">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead
          class="text-xs text-secondary uppercase bg-primary dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-6 py-3">Product Name</th>
            <th scope="col" class="px-6 py-3">Date Start</th>
            <th scope="col" class="px-6 py-3">Persentage</th>
            <th scope="col" class="px-6 py-3">Status</th>
            <th scope="col" class="px-6 py-3">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
            *ngFor="let promo of promotions | async"
          >
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              {{ promo.product }}
            </th>
            <td class="px-6 py-4">
              {{ promo.dateDebut }}
            </td>
            <td class="px-6 py-4">{{ promo.percentage }} %</td>
            <td class="px-6 py-4">
              <div
                class="text-xs text-center px-2 py-1 rounded-lg uppercase font-semibold tracking-wide"
                [ngClass]="{
                  ' bg-yellow-200 text-yellow-800': promo.status === 'ONHOLD',
                  ' bg-green-200 text-green-800': promo.status === 'ACCEPTED',
                  '  bg-red-200 text-red-800': promo.status === 'REFUSED'
                }"
              >
                {{ promo.status }}
              </div>
            </td>
            <td class="px-6 py-4 space-x-5">
                <button (click)="accepetPromotion(promo)" class="text-green-500 hover:text-green-700 text-lg hover:drop-shadow-md hover:drop-shadow-green-300 hover:text-xl transition duration-100">
                    <i class="fas fa-check-square"></i>
                </button>
                <button (click)="refusePromotion(promo)" class="text-red-500 hover:text-red-700 text-lg hover:drop-shadow-md hover:drop-shadow-green-300 hover:text-xl transition duration-100">
                    <i class="fas fa-times-circle"></i>
                </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <nav aria-label="Page navigation example" class="mt-10 flex justify-center">
      <ul class="flex items-center -space-x-px h-10 text-base">
        <li *ngFor="let page of totalPagesArray">
          <button
            (click)="onPageChange(page)"
            class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          >
            {{ page }}
          </button>
        </li>
      </ul>
    </nav>
  </div>
</div>
